#divFaceAppShare {
  background-color: @color3;
  padding-bottom: @margin * 7;
  // display: none;

  .box-special-share,
  .box-cover-info {
    .sc-item {
      margin: 9px;
      max-width: 462px;

      .loading:before {
        margin-left: -10px;
      }
    }

    footer {
      margin-top: 1px;
   }
  }

  .sc-sec-header {
    font-family: @mainFont !important;
    .sc-title-2 {
      color: @color14 !important;
      letter-spacing: 2px !important;
      font-size: 20px !important;
    }
  }

  .common-title;
  .box-special-share {
    margin-top: @margin*3
  }
  .box-cover-info {
    margin-bottom: @margin*3;
    line-height: 21px !important;
    font-family: @mainFont !important;
    .bc-info {
      p{
        margin: 0;
      }
      .bc-tit {
         margin-bottom: 5px;
      }
      .sc-text {
        &.bulet {
          padding-left: 20px;
          position: relative;
          &:before {
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
  .box-cover {
    text-align: center;
  }
  .box-cover-item {
    display: inline-block;
    text-align: right;
    margin-bottom: @margin * 3;
    position: relative;
    .sc-item-lbl {
      bottom: initial;
      top: 12px;
      text-align: left;
    }
    .sc-item-lbl-title {
      font-size: 16px;
    }
    .sc-item-lbl-contact {
      margin: 4px 0 2px;
      font-size: 13px;
    }
    .sc-btn {
      padding: 15px 30px;
      cursor: auto;
      &.loading {
        &:before {
          position: relative;
          display: inline-block;
          left: 0;
          margin-right: 15px;
          margin-left: 0;
        }
      }
    }

    .sc-img {
      .transition(all 300ms linear);
    }
    &.loading {
      .sc-img {
        .opacity(0);
      }
      &:after {
        content: '';
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        .icon-spin-04;
      }
    }
  }
  .box-cover-item-footer p{
     margin-top: 1px;
     border-radius: 0 !important;
     padding: 15px 60px !important;
  }
}

@media (max-width: @tabletSizePort) {
  #divFaceAppShare {
    .box-special-share,
    .box-cover-info {
      width: 96%;
      .sc-item {
        max-width: 350px;
        display: block;
        float: left;
      }
    }
    .box-cover-item-footer{
      text-align:center;
    }
    .sc-sec-header{
      .sc-text{
        font-size: @ftSize - 2px;
        line-height: @ftSize;
        margin: auto (@margin*1.25);
      }
    }
  }
}

@media (max-width: @mbSizePort) {
  #divFaceAppShare {
    .box-special-share,
    .box-cover-info {
      .sc-txt-right{
        text-align: center;
      }
      .bc-tit {
        text-align: center;
        margin: @margin*3 0;
      }
    }
    .box-cover-info {
      .sc-item {
        float: none;
      }
    }
    .sc-sec-header {
      .sc-title-2 {
        letter-spacing: 1px;
      }
      .sc-text {
        br {
          display: none;
        }
      }
    }
  }
}
