
.bg-fita{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 42px;
  background: url('@{imgPath}/fita-vermelha.jpg') center center repeat-y ;
  left: -60px;
}

#divEmail {
  background-color: @color10 ;
  color: @color15;
  border-bottom: 30px solid @color3;

  .tk-light {
    position: absolute;
    left: 0;
    right: 0;
    top: -100px;
    .tk-light-img
  }

  .sc-centralized{
    &.fita-content{
      padding: @margin*4 0;
    }
  }
  .box-info {
    .sc-title-2 {
      text-align: center;
      margin: (@margin * 3) 0;
      font-size: 20px;
      color: @color15 !important;
      letter-spacing: 2px !important;
      padding-left: @margin;
      padding-right: @margin;
      &:after {
        content: '';
        position: absolute;
        top: -18px;
        right: 0px;
        .icon-email-dark;
      }
    }
  }
  .sc-ulist {
    margin-left: @margin * 3;
    font-family: @mainFont;

    span {
      color: @color15;
      font-family: @mainFont;
      font-size: 18px;
    }
  }
  .bn-footer {
    position: relative;
    .bn-lbl-wrap {
      position: absolute;
      color: @color11;
      top: 115px;
      left: 299px;
      .bn-lbl {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  .box-newsletter {
    .box-email-custom {
      position: relative;
      min-height: 300px;
      position: relative;
      display: none;
      &.loading {
        display: block;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          .icon-spin-01;
        }
      }
      &.actived {
        display: block;
      }
      .be-img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: top;
      }
    }
  }
}

@media (max-width: @tabletSizePort) {
  #divEmail {

    .box-info {
      float: none;
      width:90%;
      margin: 0 4.5%;
    }
    .box-newsletter{
      text-align: center;
      &.sc-col-7{
        width:90%;

      }
      &.sc-right{
        float:none;
        margin:0 auto;
      }
    }
    .sc-ulist {
      margin-left: 0;
      font-family: @mainFont;
      color: @color14;
      .sc-item{
        br{display: none;}
      }
    }
    .bn-footer {
      position: relative;
      .bn-lbl-wrap {
        position: absolute;
        color: @color11;
        top: 115px;
        left: 299px;
        .bn-lbl {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }

}
