

#divFaceApp {
  background-color: @color3;

  .sc-sec-header {
    .sc-title-2 {
      color: @color14 !important;
      letter-spacing: 2px !important;
      font-size: 20px !important;
    }
  }

  .common-title;
  .box-info {
    .sc-left {
      text-align: right;
    }
    .sc-right {
      text-align: left;
    }
    .sc-text {
      margin: 2px @margin;
      font-family: @mainFont;
    }
  }

  .box-filter {
    text-align: center;
    margin: @margin*3 0;
    height: 40px;
    z-index: @zIndex + 1;
    position: relative;
    .sc-dropdown {
      width: 40%;
      background-color: @color3;
    }
  }
  .wp-bi-footer {
    padding: 50px 0;
    position: relative;
    .sc-btn-wrap {
      text-align: center;
    }
    &:after {
      content: '';
      display: block;
      position: relative;
      margin: auto;
      height: 1px;
      // border-bottom: 1px dashed @color2;
      margin-top: @margin * 3;
      width: 50%;
    }
  }
  #fbCustomPosts {
    .sc-item {
      .sc-btn {
        height: 20px;
      }
    }
  }
}

@media (max-width: @tabletSizePort) {
  #divFaceApp {
    padding: 20px 25px 0 25px 0;
  }
}

@media (max-width: @mbSizeLand) {
  #divFaceApp {
    .tk-light {
      display: none;
    }
    .sc-sec-header {
      padding: 50px 0 35px;
      .sc-title-2 {
        font-size:@ftSize - 3px;
        &:after {
          right:0;
          top:-33px;
        }
      }
    }

    .box-info {
      .sc-left,
      .sc-right {
        float: none;
        width: auto;
        text-align: center;
        br{display: none;}
        .bulet{text-align:left;}
        .tk-share-txt{margin: (@margin*2) 0;display: block}
      }
      .sc-text{
        font-size: @ftSize - 2px;
        line-height: @ftSize;
      }
    }
    .box-filter {
      .sc-dropdown {
        width: 90%;
      }
    }
  }
}

@media (max-width: @mbSizePort) {
  #divFaceApp {
    .sc-sec-header {
      .sc-title-2 {
        letter-spacing: 1px;
      }
    }
    .box-info {
      // padding: 0 30px;
    }
  }
}
