#passo02 {
  background-color: @color2;
  padding: 40px 0;
  background: url('@{imgPath}/texture.jpg') no-repeat center center @color2;

  .sc-sec-header {
    .sc-title-2 {
      color: @color1;
      border-bottom: none;
      font-size: 20px;
      letter-spacing: 2px;
      text-shadow: -1px 1px 2px @color2;
      margin-bottom: 5px;
    }
  }
  .sc-btn-wrap {
    position: relative;
    z-index: @zIndex+1;
    text-align: center;
    .sc-btn {
      margin: 0 @margin/2;
    }
  }
}

@media (max-width: @tabletSizePort) {
    
}

@import "../resp/768/passo-2";
@import "../resp/667/passo-2";
