<header id="sc-header" class="sc-section sc-header">
  <div class="sc-centralized">
    <div class="box-header">
      <h1 class="bh-title sc-title">
        Dia das Mães
      </h1>
      <!-- <span class="bh-line">&nbsp;</span> -->
      <p class="sc-title-2 bh-sub-title ">
        Viva sua beleza de ser mãe.<br>
        Viva sua beleza de ser mulher.<br>
        <b>Viva sua beleza viva.</b>
      </p>
    </div>
  </div>
  <!-- <div class="bh-banner-wrap sc-img-wrap">
    <img src="{{baseUrl}}/img/banner.jpg"
         alt=""
         class="sc-img bh-banner" />
  </div> -->
</header>
