<div id="scModal" class="sc-modal sc-none">
  <div class="sc-md-wrapper">
    <span class="sc-md-close">X</span>
    <span class="sc-md-light">&nbsp;</span>
    {{> modules/spinner spin="spin-03.gif"}}
    {{> contents/modais/form-sucesso}}
    {{> contents/modais/form-share-sucesso}}
    {{> contents/modais/form-whats-sucesso}}
    {{> contents/modais/form-whats-generic}}
    {{> contents/modais/form-phone}}
    {{> contents/modais/ativacao}}
  </div>
</div>