<section id="divFaceAppShare" class="sc-section">
  <div class="sc-centralized">
    <header class="sc-sec-header no-title">
      <p class="sc-text">
        Al&eacute;m dos presentes, voc&ecirc; tamb&eacute;m pode compartilhar <br />
        mensagens especiais de Dia das Mães.
      </p>
    </header>
    <div class="sc-container">
      <div class="box-special-share sc-list">
        <div class="sc-item sc-col-6"
             data-post="fixo1"
             data-simple-share="true">
          <div class="sc-img-wrap">
            <img src="{{baseUrl}}/img/facebook/special/01.jpg"
                 alt=""
                 class="sc-img" />
          </div>
          <footer class="sc-item-footer">
            <p class="sc-btn">
              Compartilhe este post
            </p>
          </footer>
        </div>
        <div class="sc-item sc-col-6"
             data-post="fixo2"
             data-simple-share="true">
          <div class="sc-img-wrap">
            <img src="{{baseUrl}}/img/facebook/special/02.jpg"
                 alt=""
                 class="sc-img" />
          </div>
          <footer class="sc-item-footer">
            <p class="sc-btn">
              Compartilhe este post
            </p>
          </footer>
        </div>
      </div>
    </div>
    <header class="sc-sec-header">
      <h2 class="sc-title-2">Use a capa no Facebook</h2>
    </header>
    <div class="sc-container">
      <div class="box-cover-info sc-list">
        <article class="sc-txt-right sc-item sc-col-6">
          Agora você também pode trocar<br />
          a foto de capa do seu Facebook<br />
          para uma imagem da campanha<br>
          de Dia das Mães
        </article>
        <article class="bc-info sc-txt-left sc-item sc-col-6">
          <p class="sc-text bc-tit">
            <strong class="sc-str">
              Veja como &eacute; f&aacute;cil:
            </strong>
          </p>
          <p class="sc-text bulet">
            Clique na imagem para baixá-la
          </p>
          <p class="sc-text bulet">
            Abra seu perfil do Facebook
          </p>
          <p class="sc-text bulet">
            Na capa atual, clique no &iacute;cone de c&acirc;mera<br> no canto superior esquerdo
          </p>
          <p class="sc-text bulet">
            Clique na op&ccedil;&atilde;o enviar foto. Selecione <br />
            a imagem baixada e clique em concluir
          </p>
        </article>
      </div>
      <div class="box-cover">
        <div class="box-cover-item sc-item"
             data-post="F01"
             data-cover="true">
          <div class="sc-img-wrap">
          <a data-ga="|download|cover-F01" href="{{serviceUrl}}?post=F01&download=true">
            <img src="{{baseUrl}}/img/facebook/cover/01.jpg"
               alt=""
               class="sc-img" />
          </a>
          </div>
          <footer class="box-cover-item-footer">
            <p class="sc-btn">
              Foto de capa
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>

  </div>
</section>
