<div id="whatsapp-personal-anchor"></div>
<section id="passo01" class="sc-section">
    <div class="sc-centralized">
        <header class="sc-sec-header">
            <h2 class="sc-title-2">
                Passo 1: Personalize seu Material de divulga&ccedil;&atilde;o
            </h2>
        </header>
        <div class="sc-container sc-row">
            <article class="sc-article sc-col-6">
                <p class="sc-text">
                    Agora você pode personalizar o material <br>da campanha do Dia das Mães com seu nome, telefone ou link para acessar o seu espaço no <br>Rede Natura.
                </p>
                <p class="sc-text">
                    Preencha os campos ao lado e clique em “personalizar meu material”
                </p>
            </article>
            <article class="sc-article sc-col-5 sc-formulario">
                <form id="formCustomPost"
                      class="sc-form"
                      action="">
                    <fieldset class="sc-form-wrap">
                        <div class="sc-form-row">
                            <label class="sc-form-lbl">
                                * Digite seu nome:
                            </label>
                            <input class="sc-form-ipt"
                                   type="text"
                                   name="nome" />
                        </div>
                        <div class="sc-form-row">
                            <label class="sc-form-lbl">
                                Digite seu n&uacute;mero de contato:
                            </label>
                            <input id="formNumCont"
                                   class="sc-form-ipt"
                                   type="tel"
                                   name="telefone" />
                        </div>
                        <div class="sc-form-row" style="position: relative;">
                            <label class="sc-form-lbl">
                                Caso seja consultor digital, <br />
                                digite seu espaço da Rede Natura:
                            </label>
                            <label for="rede" class="floatRede">http://rede.natura.net/espaco/</label>
                            <input class="sc-form-ipt fakeInput"
                            type="text"
                            id="txtrede"
                            name="rede" />
                            <small class="sc-form-note" id="lblredeout">
                                campo opcional
                            </small>
                        </div>
                        <div class="sc-form-footer">
                            <div class="sc-form-send-wrap">
                                <button id="formCustomPostSend"
                                        class="sc-form-send sc-btn"
                                        type="button">
                                    Personalizar meu material
                                </button>
                                <small class="sc-form-note">
                                    * campos obrigatórios
                                </small>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </article>
            <!-- <article class="sc-article sc-col-6">
                <div class="sc-img-wrap">
                    <img src="{{baseUrl}}/img/site-natal-natura-2015.png" class="sc-img" />
                </div>
            </article> -->
            <!-- <div class="sc-col-12"></div> -->
            <!-- <div class="custom-material sc-col-5">
                <p class="sc-text">
                    <strong class="sc-str">
                        Um link personalizado vai aparecer e você<br />
                        poderá enviá-lo para que seus clientes<br />
                        acessem o site de Natal da Natura<br />
                        e escolham os presentes deste ano.
                    </strong>
                </p>

                <article class="sc-article">
                    <p class="sc-text">
                        <strong class="sc-str">O link da sua página <br>personalizada vai aparecer.<br>Envie para seus clientes <br>acessarem o site de Natal <br>da Natura e escolherem os <br>presentes deste ano.</strong>
                    </p>
                    <p class="sc-text sm-text">
                        Além disso, todas as imagens abaixo <br>serão personalizadas com os seus dados<br>para que seus clientes entrem <br>em contato e comprem direto com você.
                    </p>
                </article>
            </div> -->
        </div>
        <div class="custom-material-result">
            <div id="loadFormSend" class="sc-loading sc-none cmr-load-form-send">
                <img src="{{baseUrl}}/img/spinners/spin.gif"
                     alt="carregando"
                     class="sc-ldg-spin" />
            </div>
            <div id="customLink" class="cmr-content sc-none cmr-link-wrap">
                <p class="cmr-title">
                    Seu link personalizado &eacute;:
                </p>
                <p class="cmr-ipt-wrap">
                    <input class="sc-form-ipt"
                           type="text"
                           name="cmr-result"
                           value="natu.my/35re8" />
                </p>
            </div>
        </div>
    </div>
</section>
