@media (max-width: @mbSizeLand) {
  #paginaDivulg {
    .sc-article,
    .sc-wrap-video {
      float: none;
      width: auto;
      text-align: center;
      .sc-video {
        margin-right: 0;
        height:180px;
      }

    }
    .sc-article {
      padding: 0 ;
      .sc-text {
        margin-bottom: 0;
        font-size:16px;
        display: inline;
        br {display: none;}
        &:last-of-type{margin:25px 0;display: block;}
      }
    }
  }
}