#sc-header {
  position: relative;
  border-top: 245px solid #ebcdcf;
  background: url('@{imgPath}/banner.jpg') no-repeat center center @color2;
  height: 395px;

  .box-header {
    position: absolute;
    top: 26px;
    left: 0;
    color: #ebcdcf;
    z-index: @zIndex;

    .sc-title {
      font-family: @subtitle;
      font-weight: normal;
      font-size: 43px;
      letter-spacing: 0px;
      // text-transform: uppercase;
      line-height: 60px;
      color: @color1;
      margin-bottom: 0;
      span {
        display: block;
        margin-left: 100px;
      }
    }

    .sc-title-2 {
      margin-top: -5px;
      font-family: @subtitle;
      font-size: 20px;
      line-height: 26px;
      color: @color1;
    }
  }
  .bh-title {
    font-size: 43px;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .bh-line {
    display: block;
    width: 55%;
    height: 0px;
    border-bottom: 1px solid silver; //aplicar cor
    margin: auto;
    .opacity(.6);
  }
  .bh-sub-title {
    margin: 5px 0;
    letter-spacing: 1px;
    font-size: 17px;
    border: none;
    text-transform: none;
    font-weight: normal;
  }
  .bh-banner-wrap {
    text-align: center;
  }
}

@media (max-width: @tabletSizePort) {
  #sc-header {

    height: 250px;
    background-size: 1215px 250px;
    background-position: -550px;


    border-top: none;
    .box-header {
      top: 135px;
      left: 0;
      right: 0;
      color: #fff;
      text-align: center;
      .bh-title {
        font-size: 20px;
        margin: 4px 0 7px;
        line-height: 1;
      }
      .sc-title{
        span{
          display: inline;
          margin-left: 0px;
        }
      }
      .bh-sub-title {
        margin: 5px 0;
        font-size: 14px;
        line-height: 18px;
        // text-shadow: 1px 1px 2px #000;
      }
      .bh-line {
        width: 40%;
      }

    }
    .bh-banner-wrap {
      height: 195px;
      overflow: hidden;
      background: url('@{imgPath}/banner.jpg') top right no-repeat;
      background-size: 150%;
      img{display: none;}
    }
  }
}
