#header-mb {
  background-color: @color2;
  position: relative;
  height: 60px;
  display: none;
  padding: (@margin*.8)  0;
  .hm-wrap-logo {
    text-align: center;
    margin: 0;

    .hm-logo-link {
      display: inline-block;
    }
  }
}

@media(max-width: @tabletSizeLand) {
  #header-mb {
    display: block;
  }
}
