@import "./assets/commons";

/**
  Estilo aplicado no primeiro item da estrutura
  para manter o espacamento do menu
*/
body {
  margin: 0;background: #d7d2c5;
}
.sc-main {
  position: relative;
  min-height: 50px;
  font-family: @mainFontLight;
  font-size: @ftSize;
  color: @color4;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.sc-none {
  display: none;
}

.sc-color-2 {
  color: @color2;
}

.sc-str {
  font-family: @mainFontBold;
  font-weight: normal;
}
.sc-str-2 {
  font-family: @mainFontBold;
  font-weight: normal;
}
.sc-ovf-hidden {
  overflow: hidden;
}

.sc-text {
  line-height: @ftSize + 2;
  &.bulet {
    &:before {
      content: '\02022';
      display: inline-block;
      vertical-align: middle;
      color: @color14;
      font-size: 26px;
      text-align: left;
    }
  }
}

.sc-ulist {
  list-style: disc;
  .sc-item {
    margin-bottom: @margin * 2;
    color: @color15;
  }
}

.sc-txt-left {
  text-align: left;
}
.sc-txt-right {
  text-align: right;
}

/**
 Formatacao padrao das sessoes
*/
.sc-section {
  position: relative;
}

.sc-centralized {
  position: relative;
  max-width: @pgSize;
  margin: 0 auto;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.sc-title {
  font-family: @mainFontLight;
  font-weight: normal;
}

.sc-title-2 {
  font-family: @secFontBold;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 8px 0 8px 0;
  border-bottom: 1px dashed;
  position: relative;
}

.sc-sec-title {
  font-size: @ftBigTitSize;
  text-align: center;
  margin: 15px 0;
  .sc-title;
}

.sc-img-wrap {
  position: relative;
  .sc-img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
  }
}

.sc-sec-header {
  text-align: center;
  .sc-title-2 {
    font-size: 22px;
    display: inline-block;
    padding-left: @margin;
    padding-right: @margin;
    &:after {
      content: '';
      position: absolute;
      top: -18px;
      right: -15px;
    }
  }
}

.sc-loading {
  padding: 50px 0;
  text-align: center;
}

.common-title{
  .sc-sec-header {
    padding: 50px 0 35px;
    .sc-title-2 {
      color: @color2;
      margin: auto;
      letter-spacing: 4px;
      &:after {
        .icon-fb-2;
        right: -24px;
      }
    }
    &.no-title{
      padding:0;
    }
  }
}

.tk-light-img {
  background: url('@{imgPath}/light-01.png') no-repeat center center;
  height: 194px;
}



@media (max-width: @tabletSizePort) {
  .sc-main {
    p {
      margin: 0;
    }
    .sc-none {
      display: none;
    }
  }
}

.sc-dropdown {
  @iconSize: 45px;
  display: inline-block;
  color: @color14;
  border: 1px solid;
  text-transform: uppercase;
  font-family: @mainFontBold;
  text-align: left;
  .sc-dd-current {
    position: relative;
    padding-right: @iconSize + @margin;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 13px;
      margin: auto;
      z-index: @zIndex + 1;
      .icon-arr-down;
      .transition(all 300ms linear);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: @iconSize;
      background-color: @color14;
      z-index: @zIndex;
    }
    .sc-dd-cur-lbl {
      padding: 12px 28px;
      font-size: 16px;
    }
  }
  .sc-dropdown-list {
    display: none;
    .sc-dd-item {
      padding: 12px 28px;
      font-size: 16px;
      border-top: 1px solid @color14;
      cursor: pointer;
      &.actived {
        display: none;
      }
    }
  }
  &.actived {
    .sc-dd-current {
      &:before {
        .rotate(180deg);
      }
    }
    .sc-dropdown-list {
      display: block;
    }
  }
}


/**
 grid reduzido
*/
@grid-size: 8.33%;
.sc-row {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .sc-left {
    float: left;
  }
  .sc-right {
    float: right;
  }
}
.sc-col-3 {
  width: @grid-size * 4;
}
.sc-col-5 {
  width: @grid-size * 5;
}
.sc-col-6 {
  width: @grid-size * 6;
}
.sc-col-7 {
  width: @grid-size * 7;
}
.sc-col-8 {
  width: @grid-size * 8;
}



/**
 Ajustes para a adaptacao do bootstrap
 no projeto
*/
* {
  .box-sizing(content-box);
}
.menu-brands .menu-opt:hover>nav,
.menu-categories .menu-opt:hover>nav,
.menu-natura .menu-opt:hover>nav {
  display: inline-block !important;
}
.menu3 a { color: #ffffff;}

/**
 Remocao do header e footer da pagina
*/
#header {
  > .top {
    display: none;
  }
  .container {
    &.wrapper {
      display: none;
    }
  }
}
#footer {
  display: none;
}
.container,
.breadcrumb1 {
  display: none
}

.sc-item-footer{
  background:@color14;
  display: block;box-sizing: border-box;text-align:center;
  .sc-btn{
    margin:0 auto;
    @media (max-width: @mbSizeLand) {font-size:13px;}
  }

}

#whatsapp-personal-anchor{
  position:absolute;width:1px;height:1px;z-index:1000;
  top:1200px;
  @media (max-width: @mbSizeLand) {top:1650px;}
}

.footer-toolkit{
  background: #282828;
  padding: 20px 0;text-align:center;font-family: @mainFontLight;
  color: #fff;
  a{color: #ffffe8;display: inline-block;padding:2px 0;}
  ul{list-style: none;margin:0;padding:0;font-size:16px;}
}
